<div class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="navbar-header">
					<button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
					<a asp-action="Index" class="navbar-brand">Animal Project</a>
				</div>

				<div class="navbar-collapse collapse" id="mobile_menu">
					<ul class="nav navbar-nav">
						<li><a asp-action="GetCatalog">Catalog</a></li>
						<li><a asp-controller="Admin" asp-action="CreateAnimal">Add new animal</a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li>
							<form asp-action="GetAnimalName" method="get" class="navbar-form">
								<div class="form-group">
									<div class="input-group">
										<span>
											<input type="search" name="name" placeholder="Search Animal" class="form-control">
										</span>
										<button type="submit" class="glyphicon glyphicon-search searchBtn"></button>
									</div>
								</div>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>